<!doctype html>
<html>
  <head>
    <title>${TITLE}</title>
    <link rel='stylesheet' href='${ROOT}/style.css' type='text/css'>
  </head>
  <body>
    <div>
      <header><h1>${TITLE}</h1></header>
      <hr>
      <main>${CONTENT}</main>
      <hr>
      <footer>
        <p><a href='${ROOT}'>Home</a> | <a href='${BLOG}'>Blog</a></p>
        <em>Written by a cat on the internet</em>
      </footer>
    </div>
  </body>
</html>
